<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>List of important personalities</title>
        <meta name="description" content="Because you care">
        <meta name="author" content="SuperBadDeveloper">
         <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
    <div class="container">
    <div class="list-group">
        {% for row in personalities %}
        <a href="#" class="list-group-item">{{ row[0] }}:{{ row[1] }}</a>
        {% endfor %}
    </div>
    </div>

    </body>
</html>
